anndata == 0.12.10
hdbscan == 0.8.41
matplotlib == 3.10.8
netZooPy == 0.10.8
numpy == 2.4.3
ome_zarr == 0.13.0
pandas == 2.3.3
scanpy == 1.11.5
setuptools == 79.0.1  # Hidden dependency of netZooPy
spagcn == 1.2.7
spatialdata == 0.7.2
spatialdata-io == 0.6.0
spatialdata-plot == 0.3.0
squidpy == 1.8.1
torch == 2.12.0
